/* This is an universal selector. The customizations in this selector is applied in
   all other elements in html if not overridden. */
* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;

  /* Only text based customizations are able to inherited from parent selector.
     like, font-size, color, font-family, text-align etc. can be inherited from
     parent selector.  */
  /* Here, border-top will not be inherited. Because it is not a text based
     customization. So, it will only be at the top of the body once and never appear
     in the other parts. */
  border-top: 10px solid #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 36px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 25px;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
}

/* footer p {
  font-size: 15px;
} */

#copyright {
  font-size: 15px;
}

/* article header p {
  font-style: italic;
} */

/* We should insert a "#" at the beginning of the id name for the selector. */
#author {
  font-style: italic;
}

/* We should insert a "." at the beginning of the class name for the selector. */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related-post {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */

  /* we can use double values in padding properties. The first value will be considered as
     top and bottom padding, the second value will be considered as left and right padding. */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.post-header {
  margin-bottom: 40px;
}

.post-image {
  /* width: 100%; means that the width of the image will set to the width of it's parent */
  width: 100%;
  /* We can use "auto" for height. Because initially a height size was given in index.html.
     so, we can use auto that will keep the aspect ratio of the image to the original.
     If, height size was not given in the html, then we have to provide size here. */
  height: auto;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* .first-li {
  font-weight: bold;
} */

/* This is called "Pseudo Classes".*/
/* "li:first-child" means that select the <li> elements that are the first
   <li> element of their parent tag.*/
li:first-child {
  font-weight: bold;
}

/* "li:last-child" means that select the <li> elements that are the last
   <li> element of their parent tag.*/
li:last-child {
  font-style: italic;
  /* When we use 0, we don't use any unit (e.g: px) */
  margin-bottom: 0;
}

/* "li:nth-child(2)" means that select the <li> elements that are the second
   <li> element of their parent tag.*/
/* li:nth-child(2) {
  color: red;
} */

/* "li:nth-child(odd)" means that select the <li> elements that are odd
   <li> elements of their parent tag.*/
/* li:nth-child(odd) {
  color: red;
} */

/* "li:nth-child(even)" means that select the <li> elements that are even
   <li> elements of their parent tag.*/
/* li:nth-child(even) {
  color: red;
} */

/* "article p:first-child" will not work. Because, in our html file, the first child in the
   <article> tag is the <header> tag. */

/* "article p:last-child" will work. Because, in our html file, the last child in the
   <article> tag is the <p> tag. */
/* article p:last-child {
  color: red;
} */

/* This will customize the <a> tags that are consisted with href attribute. */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving conflicts */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

nav {
  font-size: 18px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
