h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 36px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

li {
  font-size: 18px;
}

/* footer p {
  font-size: 15px;
} */

#copyright {
  font-size: 15px;
}

/* article header p {
  font-style: italic;
} */

/* We should insert a "#" at the beginning of the id name for the selector. */
#author {
  font-style: italic;
}

/* We should insert a "." at the beginning of the class name for the selector. */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related-post {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* .first-li {
  font-weight: bold;
} */

/* This is called "Pseudo Classes".*/
/* "li:first-child" means that select the <li> elements that are the first
   <li> element of their parent tag.*/
li:first-child {
  font-weight: bold;
}

/* "li:last-child" means that select the <li> elements that are the last
   <li> element of their parent tag.*/
li:last-child {
  font-style: italic;
}

/* "li:nth-child(2)" means that select the <li> elements that are the second
   <li> element of their parent tag.*/
/* li:nth-child(2) {
  color: red;
} */

/* "li:nth-child(odd)" means that select the <li> elements that are odd
   <li> elements of their parent tag.*/
/* li:nth-child(odd) {
  color: red;
} */

/* "li:nth-child(even)" means that select the <li> elements that are even
   <li> elements of their parent tag.*/
/* li:nth-child(even) {
  color: red;
} */

/* "article p:first-child" will not work. Because, in our html file, the first child in the
   <article> tag is the <header> tag. */

/* "article p:last-child" will work. Because, in our html file, the last child in the
   <article> tag is the <p> tag. */
/* article p:last-child {
  color: red;
} */

/* This will customize the <a> tags that are consisted with href attribute. */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving conflicts */
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
} */
