h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1 {
  font-size: 36px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

li {
  font-size: 18px;
}

/* footer p {
  font-size: 15px;
} */

#copyright {
  font-size: 15px;
}

/* article header p {
  font-style: italic;
} */

/* We should insert a "#" at the beginning of the id name for the selector. */
#author {
  font-style: italic;
}

/* We should insert a "." at the beginning of the class name for the selector. */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related-post {
  list-style: none;
}
